.Home-button {
  overflow: hidden;
  border: #000000 solid 1px;
  border-radius: 30px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
  }
  div:nth-child(1) {
    background-color: #ffffff;
    background: linear-gradient(to bottom right, #6344ac, #d2d51fe0);
    border-radius: 30px;
    font-weight: bold;
  }
  div:nth-child(2) {
    background-color: #000000;
    width: 230px;
    transition: all 0.2s ease;
    transform: translate(-250px, 0px) skewX(-30deg);
  }
  div:nth-child(3) {
    color: #ffffff;
    left: -200px;
    transition: left 0.2s ease;
  }
  &:hover div:nth-child(2) {
    transition: all 0.5s ease;
    transform: translate(-15px, 0px) skewX(-30deg);
  }
  &:hover div:nth-child(3) {
    left: 0px;
    transition: left 0.30000000000000004s ease;
  }
}

.button_base {
  margin: 0;
  border: 0;
  font-size: 18px;
  position: relative;
  margin-right: 20px;
  width: 200px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  cursor: default;
}

.button_base:hover {
  cursor: pointer;
}
