$base-blue: #080926;

.SU-board {
  position: absolute;
  z-index: -100;
  background-color: $base-blue;
  top: 15%;
  left: -400px;
  border-radius: 15px;

  transition: left 0.3s ease-in;
  transition: all 0.3s ease-in-out;
  .sign-up-content {
    display: flex;
    padding: 15px;
    margin: 15px 0;
    width: 350px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    input {
      border: none;
      border-radius: 0;
      min-height: 30px;
      width: 100%;
      border-radius: 7px;
      align-self: center;
      box-sizing: border-box;
      padding: 0 10px;
      margin-bottom: 10px;
    }
    .board-title {
      margin-bottom: 10px;
      color: white;

      font-weight: bold;
      font-size: 2.4rem;
      text-align: center;
      padding: 15px;
    }
    .board-subtitle {
      width: 84%;
      text-align: center;
      color: white;
      font-weight: 100;
      font-size: 1rem;
      margin-bottom: 15px;
    }
    .board-subscribe {
      background: linear-gradient(to bottom right, #080926, gold);
      width: 150px;
      border: 0;
      border-radius: 15px;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 1rem;
      padding: 10px 0;
      cursor: pointer;
      margin-top: 20px;
      position: relative;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    .board-subscribe:hover {
      transition: all 0.5s ease-in-out;
      background-color: black;
      color: #ffde00;
    }
    .board-input-item {
      display: flex;
      width: 85%;
      flex-direction: column;
      label {
        color: white;
        font-weight: bold;
        margin-bottom: 2px;
      }
    }
  }

  @media only screen and (max-width: 1600px) {
    top: 17%;
  }
}
