.ArticlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  hr {
    margin: 20px 0;
  }
  .ArticlePageWrapper {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    .Article-info {
      min-height: 50px;
      font-weight: 100;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      .social {
        margin-top: 10px;
        img {
          height: 25px;
          margin: 0 5px;
        }
      }
    }
    .Article-title {
      margin-top: 100px;
      font-weight: bold;
      min-height: 150px;
      font-size: 2.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Article-text {
      font-size: 1.2rem;
      font-weight: 100;
      width: 100%;
      text-align: justify;
      min-height: 500px;
      margin-top: 25px;
      line-height: 32px;
      word-spacing: 5px;
      /* word-wrap: break-word; */
    }
    .Article-footer {
      font-size: 0.8rem;
      display: flex;
      font-weight: 100;
      height: 100px;
      display: flex;
      margin-bottom: 100px;
      align-items: center;
      .Article-author {
        font-weight: bold;
        font-size: 1rem;
      }
      img {
        height: 55px;
        margin-right: 5px;
      }
    }
    .Article-image {
      img {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 450px) {
    .ArticlePageWrapper {
      width: 80%;
      .Article-image {
        width: 100%;
        height: 100%;
      }
      .Article-title {
        font-size: 2rem;
        margin: 50px 0;
      }
    }
  }
}
