$base-white: #ffffff;
$base-blue: #080926;
$base-gold: #ffde00;

.AMSolutions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .AMSolutions-item {
    transition: all 2s cubic-bezier(0.22, 0.68, 0, 1.71);
    opacity: 0;
  }
  .AMSolutions-item-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $base-gold;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .AMSolutions-item-desc {
    width: 400px;
    font-size: 1rem;
    font-weight: 100;
  }
  @media only screen and (max-width: 950px) {
    min-height: 600px;
    justify-content: space-around;
    .AMSolutions-item {
      width: 70%;
      text-align: center;
      .AMSolutions-item-title {
        font-size: 2.4rem;
      }
      .AMSolutions-item-desc {
        width: 100%;
        font-size: 1.3rem;
        text-align: left;
      }
    }
  }
  @media only screen and (max-width: 750px) {
    .AMSolutions-item {
      .AMSolutions-item-title {
        font-size: 2rem;
        text-align: left;
      }
      .AMSolutions-item-desc {
        font-size: 1rem;
      }
    }
  }
  @media only screen and (max-width: 450px) {
    .AMSolutions-item {
      min-height: 250px;
      text-align: start;
      .AMSolutions-item-title {
        font-size: 2.2rem;
      }
      .AMSolutions-item-desc {
        font-size: 1rem;
      }
    }
  }
}
.AMSolutions-item:nth-child(1) {
  transform: translateX(50px);
}
.AMSolutions-item:nth-child(2) {
  transform: translateX(100px);
}
.AMSolutions-item:nth-child(3) {
  transform: translateX(150px);
}
