.WhatWeDo {
  z-index: 1;
  height: 500px;
  min-height: 500px;
  width: 100%;
  background: url("../../graphics/why2.jpg");
  background-size: 1277px;
  background-position-x: -400px;
  background-attachment: fixed;
  display: grid;
  position: relative;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  color: white;
  .hidden {
    opacity: 0;
  }
  .console-container {
    display: flex;
    width: max-content;
  }

  .WWD-filter {
    position: absolute;
    background: linear-gradient(
      to right,
      rgba(#080926, 0.7) 0%,
      rgba(#080926, 1) 60%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

    width: 100%;
    height: 500px;
  }
  .WWD-text {
    z-index: 6;
    overflow: hidden;
    grid-area: 2/14/10/20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .WWD-text-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 1600px) {
    .WWD-text {
      justify-content: center;
      align-items: center;
    }
  }
  @media only screen and (max-width: 1100px) {
    .WWD-text {
      grid-area: 1/13/11/20;
    }

    .WWD-text-title {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 950px) {
    .WWD-text {
      grid-area: 1/2/11/20;
    }
    .WWD-text-title {
      font-size: 3rem;
    }
  }

  @media only screen and (max-width: 450px) {
    background: url("../../graphics/test_450.jpg");
    background-size: cover;

    .WWD-filter {
      background: black;
      filter: opacity(0.8);
    }
  }
}
