$base-gold: #ffde00;

.GetInTouch {
  height: calc(100vh - 150px);
  font-family: "Lato", sans-serif;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .GITTitle {
    display: flex;
    flex-direction: row;
    height: 100px;
    overflow: hidden;
    .letter {
      transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
      font-size: 4rem;
    }
    .letter:nth-child(1) {
      transform: translateY(80px);
    }
    .letter:nth-child(2) {
      transform: translateY(160px);
    }
    .letter:nth-child(3) {
      transform: translateY(240px);
    }
    .letter:nth-child(4) {
      transform: translateY(320px);
    }
    .letter:nth-child(5) {
      transform: translateY(380px);
    }
    .letter:nth-child(6) {
      transform: translateY(480px);
    }
    .letter:nth-child(7) {
      transform: translateY(580px);
    }
    .letter:nth-child(8) {
      transform: translateY(680px);
    }
    .letter:nth-child(9) {
      transform: translateY(780px);
    }
    .letter:nth-child(10) {
      transform: translateY(880px);
    }
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url("../../graphics/planet.jpg");
    width: 100%;
    height: 100%;
    // clip-path: polygon(
    // 	0% 0%,
    // 	0% 100%,
    // 	25% 100%,
    // 	25% 0,
    // 	76% 0,
    // 	76% 100%,
    // 	100% 100%,
    // 	100% 0%
    // );
    animation: width-animation 1s cubic-bezier(0.25, 0.75, 0.5, 1.25) forwards;
    filter: brightness(0.4);
  }
  @keyframes width-animation {
    0% {
      clip-path: polygon(
        0% 0%,
        0% 100%,
        5% 100%,
        5% 0,
        95% 0,
        95% 100%,
        100% 100%,
        100% 0%
      );
    }

    100% {
      clip-path: polygon(
        0% 0%,
        0% 100%,
        25% 100%,
        25% 0,
        75% 0,
        75% 100%,
        100% 100%,
        100% 0%
      );
    }
  }
  form {
    width: 400px;
  }
  form div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 1.3rem;
    margin-bottom: 5px;
    transform: translateY(30px);
    transition: all 1s cubic-bezier(0.5, -0.75, 0.7, 2);
  }
  textarea {
    height: 200px;
    border: none;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    z-index: 2;
  }
  button {
    z-index: 1;
    transform: translateY(-80px);
    border: 0;
    background: #080926;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 10px 50px;
    transition: all 1s cubic-bezier(0.5, -0.75, 0.7, 2);
  }
  button:hover {
    background: black;
    color: #ffde00;
    transition: all 0.3s ease-in-out;
  }
  input,
  textarea {
    border: 0;
  }
  input {
    height: 30px;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 0px;
  }
  input,
  textarea {
    outline: 0px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  }
  input:before,
  input:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
  }
  input:after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
  }
  h1 {
    font-size: 4.9rem;
    text-align: center;
  }

  @media only screen and (max-width: 1400px) {
    form {
      width: 320px;
    }
    h1 {
      font-size: 3.9rem;
    }
    label {
      font-size: 1rem;
    }
    textarea {
      height: 120px;
    }
  }

  @media only screen and (max-width: 950px) {
    &::after {
      clip-path: polygon(
        0% 0%,
        0% 100%,
        15% 100%,
        15% 0,
        85% 0,
        85% 100%,
        100% 100%,
        100% 0%
      );
    }
  }

  @media only screen and (max-width: 650px) {
    &::after {
      content: none;
    }
  }

  @media only screen and (max-width: 450px) {
    min-height: 0px;
    height: 70vh;
    height: 85vh;
    form {
      width: 80%;
      h1 {
        font-size: 3rem;
      }
      textarea {
        height: 100px;
      }
      label {
        font-size: 1rem;
        margin-bottom: 5px;
      }
    }
  }
}
