.AMTCity {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	box-sizing: border-box;
	.AMTMotto {
		text-align: center;
		padding: 0 5%;
	}
	@media (min-width: 30rem) {
		.AMTMotto {
			font-size: calc(1rem + ((1vw - 0.3rem) * 0.5556));
		}
	}
}
