.Partners {
  min-height: 90vh;
  .Partners-box {
    box-sizing: border-box;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 100px;
  }
  img {
    filter: invert(1);
    height: 180px;
    width: 300px;
    margin: 20px;
    border: solid #040401;
  }
  .new_part {
    filter: invert(0) !important;
    height: 180px;
    width: 300px;
    margin: 20px;
    border: solid #f4f3f3;
  }
  @media only screen and (max-width: 950px) {
    .Partners-box {
      box-sizing: border-box;
      padding-top: 100px;
    }
  }

  @media only screen and (max-width: 450px) {
    .Partners-box {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
