.Contact {
  height: 430px;
  font-family: "Lato", sans-serif;
  background: #efefefff;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  .Contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 10/16/36/51;
    form {
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
        box-sizing: border-box;
        height: 1.8rem;
        border: 0;
        padding: 0 5px;
        border-radius: 0px;
        margin: 5px 0;
      }
      div {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
      }
      textarea {
        display: block;
        max-width: 350px;
        height: 80px;
        box-sizing: border-box;
        border: 0;
        padding: 5px;
        resize: none;
        margin-top: 5px;
        outline: none;
      }
      h1 {
        font-size: 3rem;
        margin-top: -15px;
      }
      button {
        background-color: #080926;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        width: 100%;
        border: 0;
        margin-top: 10px;
        color: white;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 10px 0;
        cursor: pointer;
      }

      button:hover {
        transition: all 0.5s ease-in-out;
        background-color: #202020;
        color: #ffde00;
      }
    }
  }
}
