.ChevronScroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .container {
    position: relative;
    height: 300px;
  }
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 6s ease-out infinite;
  }

  .chevron:first-child {
    animation: move 6s ease-out 4s infinite;
  }

  .chevron:nth-child(2) {
    animation: move 6s ease-out 5s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }

  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;

    white-space: nowrap;
    opacity: 0.25;
    animation: text-pulse 2s linear alternate infinite;
  }

  @keyframes text-pulse {
    to {
      opacity: 1;
    }
  }
  @keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  @media only screen and (max-width: 1400px) {
    .container {
      transform: translateY(50px);
    }
  }
}
