.Framework {
  position: relative;
  background: #080926;
  min-height: 600px;
  height: 600px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  padding: 50px 0;
  .Framework-title {
    &:hover + .Framework-titlez {
      color: red;
    }
  }
  .lottie {
    transform: scale(1.2);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    .lottie-infobox {
      width: 200px;
      height: 100px;
      border: 1px solid black;
      top: 0;
    }
    .lottie-obj {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      .patches {
        z-index: 200;
        width: 800px;
        height: 90%;
        position: absolute;
        .one,
        .two,
        .three,
        .four,
        .five,
        .six,
        .seven,
        .eight {
          opacity: 1;
          width: 88px;
          height: 37px;
          color: white;
          background: transparent;
          box-sizing: border-box;
          transition: all 2s cubic-bezier(0.22, 0.68, 0, 1.71);
        }
        .child-1,
        .child-2,
        .child-3,
        .child-4,
        .child-5,
        .child-6,
        .child-7,
        .child-8 {
          text-transform: none;
          position: absolute;
          transition: all 1s ease-in-out;
          font-size: 0.8rem;
          padding: 10px;
          font-weight: 100;
          box-sizing: border-box;
          width: 200px;
          background: black;
          display: none;
          transition: all 2s cubic-bezier(0.22, 0.68, 0, 1.71);
        }
        .one {
          transform: translate(74px, 104px);
          &:hover + .child-1 {
            display: block;
          }
        }
        .child-1 {
          transform: translate(18px, 113px);
        }
        .two {
          transform: translate(139px, 111px);
          &:hover + .child-2 {
            display: block;
          }
        }
        .child-2 {
          transform: translate(85px, 124px);
        }
        .three {
          transform: translate(204px, -25px);
          &:hover + .child-3 {
            display: block;
          }
        }
        .child-3 {
          transform: translate(145px, -19px);
        }
        .four {
          transform: translate(270px, -3px);
          &:hover + .child-4 {
            display: block;
          }
        }
        .child-4 {
          transform: translate(209px, 2px);
        }
        .five {
          transform: translate(400px, -94px);
          &:hover + .child-5 {
            display: block;
          }
        }
        .child-5 {
          transform: translate(350px, -87px);
        }

        .seven {
          transform: translate(530px, -164px);
          &:hover + .child-7 {
            display: block;
          }
        }
        .child-7 {
          transform: translate(479px, -158px);
        }
        .eight {
          transform: translate(608px, -150px);
          &:hover + .child-8 {
            display: block;
          }
        }
        .child-8 {
          transform: translate(552px, -144px);
        }
        .six {
          transform: translate(687px, -119px);
          &:hover + .child-6 {
            display: block;
          }
        }
        .child-6 {
          transform: translate(578px, -114px);
        }
      }
      .object {
        width: 800px;
        height: 90%;
        z-index: 1 !important;
        position: absolute;
      }
    }
  }
  @media (min-width: 30rem) {
    font-size: calc(1rem + ((1vw - 0.3rem) * 2.2222));
  }
  @media only screen and (max-width: 1000px) {
    .lottie {
      transform: scale(1);
    }
  }

  @media only screen and (max-width: 750px) {
    .lottie {
      transform: scale(0.8);
    }
  }
  @media only screen and (max-width: 750px) {
    .lottie {
      transform: scale(0.6);
    }
  }
  @media only screen and (max-width: 550px) {
    .lottie {
      transform: scale(0.55);
    }
  }
  @media only screen and (max-width: 450px) {
    .lottie {
      transform: scale(0.5);
    }
  }
}
