.WWA-item {
  display: flex;
  height: 300px;
  padding: 7px;
  width: 215px;
  border-radius: 15px;
  /* box-shadow: 6px 6px 6px 9px rgba(110, 99, 99, 0.1); */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 25px;
  -webkit-box-shadow: 10px 10px 60px 2px rgba(207, 203, 207, 0.4);
  -moz-box-shadow: 10px 10px 60px 2px rgba(207, 203, 207, 0.4);
  box-shadow: 10px 10px 60px 2px rgba(207, 203, 207, 0.4);

  .WWA-item-desc-title {
    font-weight: bold;
  }
  img {
    border-radius: 50%;
  }
  .WWA-item-desc-subtitle {
    font-weight: 100;
    margin-bottom: 15px;
  }
  .WWA-item-bio {
    color: black;
    border: 2px solid #d1bd4e;
    text-align: center;
    padding: 5px 30px;
    border-radius: 15px;
    text-decoration: none;
  }
  @media only screen and (max-width: 1600px) {
    margin: 0 20px;
  }
  @media only screen and (max-width: 950px) {
    margin: 30px 0px;
  }
}
